.cs{
     display: grid;
     grid-template-columns: repeat(auto-fill,19rem);
     text-align: center;
     justify-content: center;
     column-gap: 2rem;
     row-gap: 3rem;
     
}

.cs-icon{
   font-size: 1.3rem;
    padding: 0.5rem 0.9rem;
    
    border-radius: 0.5rem;
    
    
}
.cs-div-icon{
    transition: transform 0.5s;
    margin-bottom: 1rem;
}



.cs p{
    
    font-size: 0.8rem;
    color: #ADADB0;

    
}
.cs h2{
    font-size: 1.3rem;
    font-weight: 700;
    
    transition: all 0.3s ease-in-out;
}
.cs-column{
     display: grid;
     row-gap: 0.8rem;
     
}
.cs-column:hover > .cs-div-icon{
    transform: rotateY(360deg);
    
}
.cs h2:hover{
    color: #5142FB;
    cursor: pointer;
}
