.top-img{
    
    background-image:var(--top-bg) !important;
    
    padding-top: 7.5rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.top-img h1{
    font-size: 4rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
}
.top-img p{
    font-size: 1.3rem;
}
.id-top{
    padding-top: 3rem !important;
    display: flex;
    gap: 5rem;
    margin-bottom: 3rem;
    
}
.id-right{
    border-radius: 1rem;
}
.id-icon-left{
    background-color:#0e0e0e;
    color: snow !important;
    padding: 8px;
    border-radius: 1rem;
    cursor: pointer;
    width: fit-content;
}
.id-icon-left > i::before {
    color: snow !important;
}
.icon-resize::before{
    font-size: 1rem !important;
    
    
}
.icon-resize::after{
    
     padding: 0;
    
     
}
.id-icon-right{
    background-color: var(--id-box-bg);
    box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.174);
    width: fit-content;
    border-radius: 50%;
    padding: 0.5rem;
    padding-bottom: 0.65rem;
    padding-right: 0.7rem;
}
.id-icon{
    display: flex;
    justify-content: space-between;
}
.id-left{
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    
}
.id-h1{
     font-size: 2.5rem;
}
.icon-left{
     
    display: flex;
    column-gap:0.7rem;
}
.icon-right{
     
    display: flex;
    column-gap:0.7rem;
}
.id-text{
     margin: 0;
     /* color: #8c8c8d; */
     color: #8c8c8d !important;
     font-size: 0.9rem;
}
.id-btn{
    margin: 0;
}
.id-btn button{
     width: 100%;
}


.id-box{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.id-box-item{
    
    background-color: var(--id-box-bg);
    box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.174);
    padding: 0.7rem;
    width: 17rem;
    border-radius: 1rem;
    margin: 0;
}
.id-cd{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.id-box p{
    font-weight: 500;
}
.num{
    font-weight: 500;
}
.gray-num{
    color: #b4b4b8;
}
.tab-item{
    position: relative;
    height: 1.6rem;
    
}
.id-avt{
    width:2.5rem;
    height: 2.5rem;
    border-radius: 0.7rem;
    
}
.id-check{
    font-size: 0.75rem !important;   
}
.id-custom{
    margin: 0;
    
    background-color: transparent;
}
#c2,#c3{
    padding-top: 2rem;
}
#c3{
    font-size: 0.9rem;
    color: rgb(223, 222, 222);
}

.id-title-l{
    position: absolute;
    top: -16px;
    
   
}
.id-title-r{
    position: absolute;
    top: -16px;
    left: 2.2rem;
   
}




.tab-container{
    position: relative;
}
.tab-container > input {
    display: none;
        
}
.tab-container > input:checked + label{
    color: rgb(98, 98, 227);
}
.tab-container > label{
    width: 33.333%;
    position: relative;
    padding: 0.3rem 0;
    margin-right: 2rem;
    transition:all 0.3s ease;
    cursor: pointer;
}
.tab-container > label::after{
        content: "";
        height: 0.1rem;
        width: 100%;
        position: absolute;
        background: rgb(98, 98, 227);
        bottom: -0.5px;
        left: 0;
        opacity: 0;
        
        transition:all 0.3s ease;
        z-index: 1;
}
    

.tab-line{
    position: absolute;
    height: 0.07rem;
    background: #ccc;
    width: 100%;
    left: 0;
    top: 1.6rem;
}

.tab-content-container{
    position: relative;
    
    
}
.tab-content{
    position: absolute;
    width: 100%;
    height: 10rem;
    top: 0;
    opacity: 0;
    padding: 1rem 0;
    
    transition: all .5s ease;
    
    
    
}

.scroll-item-line{
    background-color: rgba(41, 41, 41, 0.614);
    height: 0.07rem !important;
     
    margin-bottom: 1.2rem !important;
}

.tab-scroll{
    padding-top: 1rem;
    height: 11rem;
    overflow-y: scroll;
    position: relative;
    z-index: 2;
    padding-right: 5rem;
    
    
}

.tab-scroll::-webkit-scrollbar{
    width: 0.1rem !important;
    color: snow;
}
.tab-scroll::-webkit-scrollbar-thumb{
    background-color: gray;
 }
.tab-scroll::-webkit-scrollbar-track{
    background-color: black;
} 