.main{
   display: grid;
   grid-template-columns: 2.5fr 1.5fr;
   
   align-items: center;
  
  height: 100vh;

}
.main__left{
    width: 100%;
    height: 100%;
    background-image: url("../images/login/login.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.main__left > img{
    max-width: 100% !important;
    max-height: 100% !important;
   
     
    
}
.main__right{
    display: grid;
    height: fit-content;
    place-items: center;
    row-gap: 2rem;
    
   
    
}
.main__title{
    font-size: 1.7rem;
}
.main__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
     
}
.main__input__grp{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    
}
.main__input__grp > label{
    font-size: 0.95rem;
    color: rgba(255, 250, 250, 0.8);
}
.main__input__grp > input{
    padding: 0.6rem 1rem;
    background-color: transparent;
    border: 2px solid rgba(128, 128, 128, 0.274);
    border-radius: 0.3rem;
    transition-property: "border-color";
    transition: 0.3s ease-in-out;
}
.main__input__grp > input:focus{
    border-color:rgba(140, 0, 255, 0.688);
}

.main__btn{
    background-color: transparent;
    padding: 0.6rem 2rem;
    
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 0.4rem;
    
    background-color:rgba(140, 0, 255, 0.688);
    box-shadow: 0 1px 10px 0 rgba(45, 54, 65, 0.256);
    transition: background-color 0.3s ease-in-out;
}
.main__btn:hover{
    background-color: rgba(150, 23, 196, 0.347);
    cursor: pointer;
    background-position: 80% 0%;
    
}

.main__suggest{
    color: rgba(255, 250, 250, 0.8);
}
.signup__link{
    color: rgba(140, 0, 255, 0.688);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
.signup__link:hover{
    cursor: pointer;
    color : rgb(123, 0, 255);
}
.main__or{
    position: relative;
    padding:0 1rem;
    color: rgba(255, 250, 250, 0.8);
}
.main__or::before,
.main__or::after{
    content: "  ______________________ ";
    position: absolute;
    color: rgba(255, 250, 250, 0.286);
    bottom: 0.3rem;
    
}
.main__or::before{
    left: -9rem;
}
.main__or::after{
    left: 3rem;
}
.main__social__grp{
    
}
.main__social__grp > button{
    background-color: blue;
    padding: 0.5rem;
    margin: 0 0.2rem;
    padding-right: 0.6rem;
    
    border-radius: 0.2rem;
    cursor: pointer;
    transition: border-radius 0.3s ease-in-out;
}
.main__social__grp > button:hover{
    border-radius: 50%;
}
.main__social__grp > button > i::before{
    font-size: 1rem;
}
.main__social__grp > button:nth-child(1){
    background-color: rgb(75, 75, 189);
}
.main__social__grp > button:nth-child(2){
    background-color: rgb(93, 93, 255);
}
.main__social__grp > button:nth-child(3){
    background-color: rgb(189, 75, 75);
}
.main__social__grp > button:nth-child(4){
    background-color: rgb(76, 76, 76);
}

.backhome{
   
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    position: relative;
    
    
}
.backhome_i{
    position: absolute;
    left: 1.8rem;
    top: 0.7rem;
    opacity: 0;
    transition-property: "left","opacity";
    transition:  0.3s ease-in-out;
     
}
.backhome_i::before{
    color: rgba(255, 250, 250, 0.7);
}
.backhome_span{
    position: relative;
    top: -0.1rem;
    color: rgba(255, 250, 250, 0.7);
    transition-property: "left";
    transition: 0.3s ease-in-out;
    
}
.backhome:hover > .backhome_i{
    opacity: 1;
   
    left: 1rem;
}
.backhome:hover > .backhome_span{
    left: 0.8rem !important;
   
}