.ts-img{
    width: 5rem;
    height: 5rem;
    border-radius: 1.5rem;
}
.ts-check{
    background-color: blue;
    padding: 2px 4px;
    font-weight: 400;
    font-size: 1.2rem !important;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.ts-item:hover  .ts-check{
    
}
.seller-column{
    display: grid;
    grid-template-columns: repeat(auto-fill,20rem);
    row-gap: 1rem;
    column-gap: 1rem;
}
.ts-item{
    
    padding: 0.5rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}
.ts-item:hover{
box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.589);
cursor: pointer;
}