.EP{
    margin: 3rem 0;
}
.img-box{
    background-color: #343444;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
.img-box--img{
    width: 15rem;
    height: 15rem;
    border-radius: 0.5rem;
    z-index: 0;
    position: relative;
    
}
.img-over{
    background-color: rgba(0, 0, 0, 0.495);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1.2rem;
    font-weight: 600;
    top: 0;
}
.img-over-hidden{
    opacity: 0.5;
}

.img-cover{
   /* box-shadow: 0px 1px 5px 0px rgba(105, 105, 105, 0.621);*/
    width: 20rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content:center ;
    margin-bottom: 0.5rem;
    border: 2px solid grey;
    border-radius: 0.5rem;
    
    
}
.img-cover:nth-child(1){
    border: 1px solid grey;
}
.img-cover--img{
    transition: all 0.3s;
}
.img-cover--img:hover{
    background: linear-gradient(30deg, rgba(140, 0, 255), rgb(107, 3, 107)),linear-gradient(30deg, rgba(140, 0, 255), rgb(107, 3, 107));
    background-origin: padding-box, border-box;
    background-repeat: no-repeat; /* this is important */
    border: 2px solid transparent;
    cursor: pointer;
}
.img-cover--grp{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.img-cover--grp h3{
    grid-column: 1/-1;
}
.img-cover img{
    width: inherit;
    height: inherit;
    border-radius:inherit;
}

.edit-profile--main{
    display: flex;
    justify-content: space-between;
  /*  grid-template-columns:repeat(8,auto);
    grid-template-rows: repeat(4,auto);
    */
    
}
.EP-main--right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

}
.grid-item:nth-child(1){
    grid-column: 1/-1;
    
}
.EP-col{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.input-gp{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.input-gp input,.input-gp textarea{
    background-color: inherit;
    border: 1px solid gray;
    
    
  
    padding:0.5rem 1rem;
    border-radius: 0.5rem;

    
    
}

.input-gp input:focus , .input-gp textarea:focus{
    border-color: transparent;
    box-shadow: 0px 0px 5px 0px rgba(140, 0, 255);

    
   /* background: linear-gradient(30deg, rgba(140, 0, 255), rgb(107, 3, 107)),linear-gradient(30deg, rgba(140, 0, 255), rgb(107, 3, 107));
    background-origin: padding-box, border-box;
    background-repeat: no-repeat;
    border: 3px solid transparent;*/
}
.EP-col button{
    width: fit-content;
}
.input-gp button{
    background-color: rgb(140, 0, 255);
  /*  box-shadow: 1px 1px 8px 0px rgb(140, 0, 255); */
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    
}
.input-gp button:hover{
    cursor: pointer;
/*    
  background:
   linear-gradient(30deg,
    rgb(185, 124, 255) ,
     rgba(150,80,230,1) , 
     rgba(100,80,230,1) ,
      rgba(88,80,230,1) ,
      rgba(100,80,230,1),
      rgba(150,80,230,1),
      rgb(185, 124, 255)
      );
  
  background-size: 200% auto;
  animation: shine 0.5s linear forwards !important;
*/
  
  background: linear-gradient(90deg, rgba(255,250,250) ,rgba(0, 0, 0, 0));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-size: 200% auto;
   
   animation: shine 0.5s linear forwards !important;
   
  
}
.div-btn{
    background-color: rgb(140, 0, 255);
    width: fit-content;
    border-radius: 2rem;
}
.div-btn:hover{
    background-color: rgba(140, 0, 255, 0.738);
}

.EP-icon{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(52, 52, 68);
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
    cursor: pointer;
}
.notif-header a{
    font-size: 1.3rem;
}
.notif-header{
    position: relative;
}
.notif-header div{
    position: absolute;
    background-color: red;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    font-size: 0.7rem;
    font-weight: bold;
    top: -0.4rem;
    right: -1.1rem;
}
.header-profile{
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.EP-btn{
    background-color: transparent;
    padding: 0.7rem 2rem;
    border: 2px solid snow;
     font-size: 0.9rem;
     font-weight: 600;
    border-radius: 2rem;
    background-size: 400% 300%;
    transition: all 0.3s ease-in-out;
    background-image: linear-gradient(to right,
    transparent, 
     transparent, 
     
     rgba(140, 0, 255, 0.688),
     rgba(150, 23, 196, 0.347));
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.EP-btn:hover{
    cursor: pointer;
    background-position: 100% 0%;
    transition: all 0.3s ease-in-out;
    border-color: rgba(150, 23, 196, 0.229);
   /* 
    border-image:linear-gradient( rgb(140, 0, 255) ,rgb(187, 0, 255)),
     linear-gradient(90deg, rgb(140, 0, 255) ,rgb(187, 0, 255));
*/

/*
    background: linear-gradient(90deg, rgb(140, 0, 255) ,rgb(187, 0, 255));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-size: 200% auto;*/
}

.swal-modal{
    background-color: #343444d5;
}
.swal-text{
    color: snow;
}
.swal-button{
    background-color: transparent;
    color: snow;
}
.swal-button:hover{
    color: #343444;
    background-color: rgba(255, 250, 250, 0.936) !important;
}
.swal-footer{
    text-align: center;
}
.swal-button--danger{
    background-color: red;
}
.swal-button--danger:hover{
    background-color: rgba(255, 0, 0, 0.805) !important;
}
.swal-icon--success__hide-corners, .swal-icon--success__ring,
.swal-icon--success:after, .swal-icon--success:before{
    background-color: transparent;
}
